.fileInput {
  --damp: hsl(0deg 0%, 100%);
  --border-color: color-mix(in hsl, var(--background), var(--damp) 70%);
  background-color: color-mix(in hsl, var(--background), var(--damp) 5%);
  /* background-color: color-mix(in hsl, var(--background), var(--damp) 25%); */
  overflow: hidden;
  border-radius: 2px;
  border: 1px solid var(--border-color);
  font-weight: 300;
  width: 100%;
}

.fileInput::file-selector-button {
  font-family: inherit;
  font-weight: 700;
  background-color: color-mix(in hsl, var(--background), var(--damp) 10%);
  border: none;
  border-radius: none;
  padding: 0.6em 1em;
  margin-right: 0.8em;
  filter: grayscale(30%);

  border-right: 1px solid var(--border-color);
}
